<ion-header>

  <ion-navbar>
    <!--se eu usasse ionViewDidLoad, significaria que o template seria renderizado primeiro antes do ts pelo angular,ou seja, quoteGroup seria undefined, porém, com o ?, dizemos para o angular2 pular esse objeto, e só renderiza-lo quando estiver disponivel. awesome-->
    <ion-title>{{ quoteGroup.category | uppercase }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--<ion-list>-->
  <ion-card *ngFor="let quote of quoteGroup.quotes; let i = index" padding>
    <ion-card-header text-center>
      #{{ i+1 }}
    </ion-card-header>
    <ion-card-content>
      <p>{{ quote.text }}</p>
      <p class="author" text-right>{{ quote.person }}</p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button ion-button clear small (click)="onAddToFavorite(quote)">Favorite</button>
      </ion-col>
    </ion-row>
  </ion-card>
  <!--<button ion-item *ngFor="let quote of quotes; let i = index">
      <h2>{{ quote.person }}</h2>
      <h3>{{ quote.text | maxlength:40}}</h3>
    </button>
  </ion-list>-->
</ion-content>